<aside class="essay-share essay-share--subscribe" aria-label="Have it delivered">
  <span class="essay-share__ornament" aria-hidden="true">✦</span>
  <p class="essay-share__prompt">Have it delivered</p>
  <div class="essay-share__actions">
    <a class="essay-share__action" href="/subscribe/">Subscribe by post</a>
  </div>
  <p class="essay-share__note">
    The next paper can call at your address&mdash;weekly, or on the original dates.
  </p>
</aside>
